body {
  background-color: lightgray;
  font-family: "Verdana", "Arial Narrow", sans-serif;
}

li.data-list-item {
  background-color: white;
  border: 5px double black;
  border-radius: 10px;
  padding: 2em;
  margin: 1.5em;
  width: 400px;
  display: inline-block;
}

li h3 {
  padding-top: 0;
  margin-top: 0;
}

li li {
  line-height: 1.2em;
}
